# -------- CORE --------
streamlit==1.29.0
python-dotenv==1.0.1

# -------- DATA --------
pandas==2.1.4
numpy==1.26.4
joblib==1.3.2

# -------- VISUALIZATION --------
plotly==5.18.0
matplotlib==3.8.2
seaborn==0.13.2

# -------- FINANCE --------
yfinance==0.2.36
ta==0.11.0
statsmodels==0.14.1

# -------- MACHINE LEARNING --------
scikit-learn==1.3.2
xgboost==1.7.6

# -------- NLP --------
vaderSentiment==3.3.2
newsapi-python==0.2.7

# -------- UTIL --------
pytz==2024.1
